{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/appt1"
      },
      "cloudant":{
      "db": "http://togmenzantouleandedeplan:g4uCIBH23fIADrGUbCom4TTa@roninmoto.cloudant.com"
    }
  } 
}
